<div id="counter">
   <span>
    Hellowers
    <span class="badge pull-left">{{map.myMarkers.length}}</span> 
  </span>
</div>
<div id="map_canvas" ui-map="map.myMap" style="height: 400px;width: 60%" ui-options="map.mapOptions">
</div>
<!-- <div ng-repeat="marker in map.myMarkers" ui-map-marker="map.myMarkers[$index]"> 

</div> -->

<script type="text/javascript" src="lib/bower_components/angular-ui-utils/ui-utils.js"></script>
<script type="text/javascript" src="lib/bower_components/angular-ui-map/ui-map.js"></script>

