<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
</head>
<body ng-app="app" >
   <div class="navbar navbar-static-top">  
            <div class="navbar-inner blue-bg">
             <div id="infoposition"></div>
            </div>
        </div>  

 <div id="map"  ng-controller="mainCtrl">
    
            <div class="row">
                <div id="map_canvas" ui-map="map.myMap" style="height: 400px;width: 80%" ui-options="map.mapOptions">
                </div>
                <div ng-repeat="marker in map.myMarkers" ui-map-marker="map.myMarkers[$index]">
                </div>
            </div>
      
        
   
  
    <form class="well form-search">
    <button type="submit" class="btn" ng-click="hello()">Hello!</button>
    <button type="submit" class="btn" ng-click="leaving()">I am leaving.</button>
     <h2>Nombre de participants  {{map.myMarkers.length}}  </h2>

      <input type="hidden" ng-value="visitorId" />
  </form>

</div>


  <!--      <div class="navbar navbar-fixed-bottom">
            <div class="navbar-inner blue-bg" style="height: 77px;">footer </div>
        </div> -->

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="js/search.js"></script>
  <script src="js/services/geoloc.js"></script>
   <script src="js/services/httpService.js"></script>
   <script src="js/services/Visitor.js"></script>
  <script type="text/javascript" src="lib/bower_components/angular-ui-utils/ui-utils.js"></script>
<script type="text/javascript" src="lib/bower_components/angular-ui-map/ui-map.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>


 
</body>
</html>
