<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
</head>
<body>
   <div class="navbar navbar-static-top">  
            <div class="navbar-inner blue-bg">
             mon header
            </div>
        </div>  
  <div  style="width:600px ; height:200px ; background:black">
ergergerger
  </div>

 
    <div ng-controller="SearchCtrl" style:"margin: 0 auto">
    <form class="well form-search">
     <button type="submit" class="btn" ng-click="search()">Search</button>
     <button type="submit" class="btn" ng-click="delete()">Delete</button>
  </form>
     <div  ng-show="result.count > 0" ng-model="result" class="col-md-2 col-md-offset-5">
     <h2> {{result.count}} résultat</h2>
    <table class="table table-hover" style:"margin: 0 auto">
      <thead><tr><th>City</th><th>country</th><th>date</th></tr></thead>
      <tr ng-repeat="visitor in result.visitors">
        <td data-title="'City'">{{visitor.city}}</td>
        <td data-title="'Country'">{{visitor.country}}</td>
        <td data-title="'Date'">{{visitor.date | date:'yyyy-MM-dd HH:mm'}}</td>
    </table>   
   
  </div>
</div>

       <div class="navbar navbar-fixed-bottom">
            <div class="navbar-inner blue-bg" style="height: 77px;">footer </div>
        </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="js/search.js"></script>
 
</body>
</html>
